<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link href="./style/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Logo" class="logoImg" /></a>
            <div class="h1s">
                <p>Green</p>
                <p>Books</p>
            </div>
        </div>
        <div class="search">
            <span class="material-symbols-outlined">search</span>
            <input type="text" placeholder="Tapez votrea recherche...">
        </div>
        <a href="panier.html"><img src="images/image-removebg-preview.png" alt="panier" class="panier" /></a>
    </header>
    <main>
        <div class="divmain">
            <a href="">
                <h2>Categories</h2>
            </a>
            <a href="">
                <h2>Nouveautés</h2>
            </a>
            <a href="">
                <h2>Ma librairie</h2>
            </a>
        </div>
        <section>
            <img src="images/vraibiblio.png" alt="livres" class="extendedb" />
            <a href="">
                <p class="texte">Inscrivez-vous</p>
            </a>
        </section>
    </main>
</body>

</html>