<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link href="./style/index.css" rel="stylesheet">
    <link href="<link rel=" stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search"
        rel="stylesheet" />
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Logo" class="logoImg" /></a>
            <div class="h1s">
                <p>Green</p>
                <p>Books</p>
            </div>
        </div>
        <div class="search">
            <span class="material-symbols-outlined">search</span>
            <input type="text" placeholder="Tapez votre recherche...">
        </div>
        <a href="panier.html"><img src="images/image-removebg-preview.png" alt="panier" class="panier" /></a>
    </header>
    <main>
        <div class="divmain">
            <a href="">
                <h2>Categories</h2>
            </a>
            <a href="">
                <h2>Nouveautés</h2>
            </a>
            <a href="">
                <h2>Ma librairie</h2>
            </a>
        </div>
        <img src="images/extendedb.webp" alt="livres" class="extendedb"/>
    </main>
</body>

</html>