body {
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #409c1c;
}

.logo {
    display: flex;
}

.h1s {
    font-size: 20px;
}

.logoImg {
    width: 100px;
    margin-left: 20px;
}

.panier {
    width: 60px;
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: #28840c;
}

main section {
    position: relative;
    text-align: center;
}

.texte {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #409c1c;
    padding: 20px;
    border-radius: 100px;
}

.divmain {
    padding-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    margin: 40px;
}

.extendedb {
    width: 100%;
    height: 100%;
    filter:brightness(50%);
}